*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: #f2f2f2;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 40px;
    background-color: #f2f2f2;
}
.image{
    display: flex;
    align-items: center;   
}
.navi{
    display: flex;
    align-items: center;
    gap: 70px;
}
.navi li{
    list-style: none;
}
.navi li a{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: orangered;
    padding: 10px 25px;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    margin: 50px;
    
}

.btn2{
    background-color: black;
    padding: 10px 30px;
    color: white;
}
.Content{
  width: 50%;
  padding: 20px;
}
.Content h1{
    font-size: 45px;
}
.Service1{
    text-align: center;
    justify-content: center;
}
.service2{
    display: flex;
    text-align: center;  
}
.ser1{
    border: 1px solid black;
    margin: 20px;
   padding: 20px;
   align-items: center;

}
.ser1 h3{
    color: orangered;
}
.btnn{
    display: block;
    margin: auto;
    background-color: black;
    padding: 10px 30px;
    color: white;
    
}
.FreshFruits1{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}
.Fresh,.Fresh3,.Fresh6{
    display: flex;
    align-items: center;
    
}
.Fresh1{
    padding: 60px;
    width: 60%;
    margin-right: 70px;
}
.Fresh2{
    padding: 20px;
    padding-right: 20px;
    
}

.Testiminal{
    text-align: center;
    padding: 20px;
}
.ContactUs{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.form1{
    padding: 20px;
}
.ok{
    display: block;
    border: none;
    border-bottom: 1px solid black;
     margin-bottom: 4vh;
     width: 45vw;
    font-size: large;
}

.itemss{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 20px; 
}
.itemm{
    width: 5%;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}